<%- include('../partials/apphead.ejs') %>

<div class="d-flex flex-wrap">
    <div class="col-12 col-md">
        <a href="/app/arvisualization/booth" class="d-block cover bg-main2 position-relative" style="background: url(/cover/brandcover.jpg); background-size: cover; padding-bottom: 100%;">
            <div class="position-absolute top-0 left-0 text-white p-3 d-flex h-100 w-100 flex-column  justify-content-end">
                <div class="fs-h2">
                    AR VISUALIZATION | BOOTH 
                </div>  
                <div class="fs-normal">
                    ให้ข้อมูลเกี่ยวกับบูธ
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md">
        <a href="/app/arvisualization/car" class="d-block cover bg-dark position-relative" style="background: url(/cover/carcover.jpg); background-size: cover; background-repeat: no-repeat; padding-bottom: 100%;">
            <div class="position-absolute top-0 left-0 text-white p-3 d-flex h-100 w-100 flex-column  justify-content-end">
                <div class="fs-h2">
                    AR VISUALIZATION | CAR 
                </div>  
                <div class="fs-normal">
                    ให้ข้อมูลเกี่ยวกับรถ
                </div>
            </div>
        </a>
    </div>

</div>

<%- include('../partials/appfooter.ejs') %>
