<%- include('../partials/apphead.ejs') %>
<div class="bg-main text-white w-100" style="min-height: calc(100vh - 70px);">

    <div class="d-flex flex-column">
        <div class="col-12 cover position-relative bg-dark">
            <div class="col-12 col-md-8 mx-auto position-relative">
                <div class="image bg-dark overflow-hidden  position-relative" style="padding-bottom: 50%; background-image: url(/cover/activity1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
            <div class="position-absolute d-flex align-items-end h-100 p-3 bottom-0 end-0 justify-content-end w-100 fs-h1 gap-2">
                <a class="text-decoration-none wh50 bg-white text-main3 d-flex justify-content-center align-items-center rounded-circle saved"><i class="fa-solid fa-heart"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column gap-4 p-3">
            <div class="fs-h2">มอเตอร์โชว์ฯ ประกาศรางวัล Lucky Draw แก่ผู้ชมงาน มูลค่ากว่า 2.3 ล้านบาท</div>
            <div class="d-flex flex-column gap-2">
                <div class="fs-normal">
                    <i class="fas fa-calendar text-hili w30  fs-h3 text-center "></i>
                    <span class="fw-md">โพสต์เมื่อวันที่ :</span> 13 ธ.ค. 65
                </div>
                <div class="fs-normal">
                    <i class="fas fa-clock text-hili w30  fs-h3 text-center"></i>
                    <span class="fw-md">ช่วงเวลาจัดกิจกรรม :</span> วันที่ 14 ธันวาคม เวลา 21.15 น
                </div>
                <div class="fs-normal">
                    <i class="fas fa-map-marker-alt text-hili w30  fs-h3 text-center"></i>
                    <span class="fw-md">สถานที่จัดกิจกรรม :</span> ภายในอาคาร อิมแพ็ค ชาเลนเจอร์ Challenger 4 บริเวณเวทีเปิดงาน 
                </div>
            </div>

          
            <div class="fs-normal d-flex flex-column gap-2">
                <div>ปิดฉากลงอย่างยิ่งใหญ่ และเต็มไปด้วยความประทับใจ สำหรับงานบางกอก อินเตอร์เนชันแนล มอเตอร์โชว์ ปี 2022 ซึ่งจัดขึ้นระหว่างวันที่ 23 มีนาคม – 3 เมษายน 2565 ท่ามกลางความคึกคักที่สุดในรอบสองปีที่ผ่านมา รวมถึงยังมีการรักษามาตรฐานด้านความปลอดภัยในเรื่องโรคระบาดอย่างเคร่งครัดเช่นเคย สำหรับปีนี้ ได้รับการตอบรับจากค่ายรถยนต์ และจักรยานยนต์จำนวนมาก รวมถึงผู้เข้าชมงานที่ยังคงมั่นใจในมาตรการรักษาความปลอดภัยของคณะผู้จัด ที่อยู่ภายใต้มาตรการของกระทรวงสาธารณะสุขอย่างเคร่งครัด อีกทั้งยังให้ความร่วมมือในการแสดงประวัติผลการฉีดวัคซีนอย่างน้อย 2 เข็ม ก่อนเข้างานเป็นอย่างดี</div>
                
                <div>ทางคณะผู้จัดจึงขอขอบพระคุณทุกท่านเป็นอย่างสูง จึงได้ทำการจัดงานมอบรางวัลแทนคำขอบคุณผู้เข้าชมงานทุกท่านที่ได้กรอกแบบสอบถามชิงโชค (รถรางวัล) ด้วยการจับรางวัล Lucky Draw รวม 7 รางวัล และปีนี้ได้มีรางวัลพิเศษเพิ่มขึ้น คือรางวัลผู้โชคดีที่จองรถยนต์ภายในงานเพิ่มขึ้นอีก 1 รางวัล</div>
                
                <div>โดยการจับรางวัลถูกจัดขึ้น ณ วันที่ 14 ธันวาคม 2565 เวลา 21.15 น. ต่อหน้าสักขีพยาน และคณะกรรมการผู้ทรงเกียรติ นำโดย ดร.ปราจิน เอี่ยมลำเนา ประธานการจัดงานบางกอก อินเตอร์เนชันแนล จำกัด (มหาชน) คุณจาตุรนต์ โกมลมิศร์ คุณอโณทัย เอี่ยมลำเนา และคุณพีระพงศ์ เอี่ยมลำเนา รองประธานการจัดงานทั้ง 3 ท่าน</div>
            </div>
            <div class="d-flex flex-column flex-md-row row gap-3">
                <div class="col-12 col-md">
                    <img  class="img-fluid" src="https://events.motorshow.in.th/bims43/wp-content/uploads/2022/04/%E0%B8%A3%E0%B8%B2%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%A5%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%88%E0%B8%AD%E0%B8%87%E0%B8%A3%E0%B8%96%E0%B8%A0%E0%B8%B2%E0%B8%A2%E0%B9%83%E0%B8%99%E0%B8%87%E0%B8%B2%E0%B8%99-Ford-Ranger.jpg" alt="">
                </div>
                <div class="col-12 col-md">
                    <img class="img-fluid" src="https://events.motorshow.in.th/bims43/wp-content/uploads/2022/04/%E0%B8%A3%E0%B8%B2%E0%B8%87%E0%B8%A7%E0%B8%B1%E0%B8%A5%E0%B8%97%E0%B8%B5%E0%B9%88-1-MG-EP-PLUS.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/appfooter.ejs') %>
