<%- include('../partials/apphead.ejs') %>
<div class="bg-white w-100" style="min-height: calc(100vh - 70px);">

    <div class="d-flex flex-column">
        <div class="col-12 cover position-relative bg-dark">
            <div class="col-12 col-md-8 mx-auto position-relative">
                <div class="image bg-dark overflow-hidden  position-relative" style="padding-bottom: 50%; background-image: url(/cover/media1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
            <div class="position-absolute d-flex align-items-end h-100 p-3 bottom-0 end-0 justify-content-end w-100 fs-h1 gap-2">
                <a class="text-decoration-none wh50 bg-white text-main3 d-flex justify-content-center align-items-center rounded-circle saved"><i class="fa-solid fa-heart"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 p-3">
            <div>
                <div class="fs-normal">13 ธ.ค. 65</div>

            </div>
           
            <div class="fs-h2">AUDI MOTOR EXPO 2022</div>
            <div class="col-12 bg-white overflow-hidden position-relative" slider-wrapper>
                <div class="d-flex mt-2" slider-pages>
                    <div class="col-12 grid-2 gap-3 align-self-start" page="1" gallery-slider title="Photos">
                        <div role="button" class="image bg-primary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-1.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-warning col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-2.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-danger col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-3.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-4.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-5.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-6.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/Audi-Photo_12.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/65_03_21_Audi-7.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/Audi-Photo_7.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                        <div role="button" class="image bg-secondary col-12" style="padding-bottom: 50%; background-image:url(https://events.motorshow.in.th/bims43/wp-content/uploads/2022/03/Audi-Photo_9.jpg); background-size:cover; background-repeat:no-repeat; background-position:center;" slider-page></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/appfooter.ejs') %>
