<%- include('../partials/apphead.ejs') %>
<div class="bg-main text-white w-100" style="min-height: calc(100vh - 70px);">

    <div class="d-flex flex-column">
        <div class="col-12 cover position-relative bg-dark">
            <div class="col-12 col-md-8 mx-auto position-relative">
                <div class="image bg-dark overflow-hidden  position-relative" style="padding-bottom: 50%; background-image: url(/cover/new1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
            <div class="position-absolute d-flex align-items-end h-100 p-3 bottom-0 end-0 justify-content-end w-100 fs-h1 gap-2">
                <a class="text-decoration-none wh50 bg-white text-main3 d-flex justify-content-center align-items-center rounded-circle saved"><i class="fa-solid fa-heart"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column gap-2 p-3">
            <div class="fs-h2">5 มอเตอร์ไซค์ทัวร์ริ่ง 1,000 ซีซี สุดสายท่องเที่ยวผจญภัย</div>
            <div class="fs-normal">
                <i class="fas fa-calendar text-hili text-center me-2"></i>
                13 ธ.ค. 65
            </div>

            <div class="fs-normal d-flex flex-column gap-2">
                <div>เข้าสู่การขับขี่ท่องเที่ยวระยะไกลพร้อมนวัตกรรมที่เหนือชั้นของมอเตอร์ไซค์แอดเวนเจอร์ทัวร์ริ่งไบค์ระดับ 1,000 ซีซี ที่ถือว่าเป็นคลาสสูงสุดของมอเตอร์ไซค์ประเภทนี้ พร้อมนำเสนอ 5 รุ่น สำหรับนักบิดสายท่องเที่ยวที่กำลังจะอัพเลเวลการขับขี่</div>
            </div>
            <div class="d-flex flex-column flex-md-row row gap-3">
                <div class="col-12 col-md d-flex flex-column gap-3">
                    <img  class="img-fluid" src="https://events.motorshow.in.th/bims43/wp-content/uploads/2022/04/Honda-NT1100.jpg" alt="">
                    <div class="fs-h4">Honda NT1100</div>
                    <div class="fs-normal">ยินดีต้อนรับสู่ยุคใหม่ของการท่องเที่ยวกับ NT1100 มอเตอร์ไซค์ขนาด 1 ลิตรในฝันของใครหลายๆ คนที่จะทำให้บางสิ่งที่อยู่ภายในตัวคุณต่างไปจากเดิม ด้วยเครื่องยนต์ 2 ลูกสูบ อันทรงพลังที่ฝังตัวอยู่ในแชสซี ผสมผสานความคล่องตัวสำหรับการขับขี่ในเมือง โดเด่นด้วยการควบคุมที่ยอดเยี่ยมและการออกแบบสไตล์ GT พร้อมความสะดวกสบายและเทคโนโลยีที่เหนือชั้น</div>
                    <div class="fs-normal">NT1100 ใช้เครื่องยนต์ 2 สูบเรียง ขนาด 1,084 ซีซี ที่นำมาจาก Africa Twin โมเดลล่าสุด เค้นพลังออกมาได้สูงสุด 100.58 แรงม้า และแรงบิดทสูงสุด 104 นิวตันเมตรที่ 6,250 รอบ ส่งกำลังด้วยชุดเกียร์อัจฉริยะ DCT 6 สปีด  ราคาอยู่ที่ 515,000 บาท</div>
                </div>
                <div class="col-12 col-md d-flex flex-column gap-3">
                    <img class="img-fluid" src="https://events.motorshow.in.th/bims43/wp-content/uploads/2022/04/ปก-2.jpg" alt="">
                    <div class="fs-h4">Yamaha YZF-R7</div>
                    <div class="fs-normal"> สปอร์ตไบค์ที่มีแรงบิดเข้มข้นเพื่อประสบการณ์การขับขี่อันน่าตื่นตาตื่นใจอย่างแท้จริง ทั้งในสนามแข่งและบนท้องถนน ตัวถังออกแบบให้เพรียวบางเป็นพิเศษ สอดคล้องกับเส้นสายแอโรไดนามิก พร้อมการออกแบบด้านหน้าที่ดุดัน โดดเด่นด้วยไฟ LED ตรงกลางและบั้นท้ายทรงสปอร์ต ถังเชื้อเพลิงยกพันธุกรรมการออกแบบของ R-Series เบรคและระบบกันสะเทือนสมรรถนะสูง สามารถควบคุมตัวรถได้อย่างเฉียบคม</div>
                    <div class="fs-normal"> YZF-R7 ใส่หัวใจเครื่องยนต์ CP2 ครั้งแรกในตระกูล R-Series ขนาด 689 ซีซี ระบายความร้อนด้วยน้ำ ให้กำลังสูงสุด 73.4 แรงม้า ที่ 8,750 รอบต่อนาที และแรงบิดสูงสุด 67.0 นิวตันเมตร ที่ 6,500 รอบต่อนาที พร้อมระบบ Assist & Slipper clutch ครั้งแรกที่ถูกนำมาใช้ใน Yamaha Bigbike คลาส 700cc ช่วยลดอาการกันล้อล็อก  ราคา 339,000 บาท</div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/appfooter.ejs') %>
