<%- include('../partials/apphead.ejs') %>
<div class="bg-white w-100" style="min-height: calc(100vh - 70px);">

    <div class="d-flex flex-column">
        <div class="col-12 cover position-relative bg-dark">
            <div class="col-12 col-md-8 mx-auto position-relative">
                <div class="image bg-dark overflow-hidden  position-relative" style="padding-bottom: 50%; background-image: url(/cover/activity2.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
            <div class="position-absolute d-flex align-items-end h-100 p-3 bottom-0 end-0 justify-content-end w-100 fs-h1 gap-2">
                <a class="text-decoration-none wh50 bg-white text-main3 d-flex justify-content-center align-items-center rounded-circle saved"><i class="fa-solid fa-heart"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 p-3">
            <div>
                <div class="fs-normal"><span class="fw-md">โพสต์เมื่อวันที่ :</span> 13 ธ.ค. 65</div>
                <div class="fs-normal"><span class="fw-md">ช่วงเวลาจัดกิจกรรม :</span> วันที่ 14 ธันวาคม 2565 เวลา 21.15 น</div>
                <div class="fs-normal"><span class="fw-md">สถานที่จัดงาน :</span> ลานด้านหลังลานโหลดของ อิมแพ็ค ชาเลนเจอร์</div>

            </div>
           
            <div class="fs-h2">Jimny Owner Thailand , 106 Never Die และ Flexdream Japan Style</div>
            <div class="fs-normal d-flex flex-column gap-2">
                <div>กองทัพ Jimny Owner Thailand , 106 Never Die และ Flexdream Japan Style รวมกว่า 50 คัน ในกิจกรรม Jimny Owner Thailand & Flexdream Japan Style Club Meet ที่จะจัดที่งาน อินเตอร์เนชั่นแนล มอเตอร์โชว์ 2022 ณ วันที่ 16 ธันวาคม 2565 เวลา 18.00 - 21.00 น. </div>
                <div>กิจกรรมวันแห่งความสุขของสาวก Suzuki Jimny และ ชาว Flexdream Japan Style ที่ได้มารวมตัวกันกว่า 50 คัน ณ ลานด้านหลังลานโหลดของ อิมแพ็ค ชาเลนเจอร์ ที่เรียกได้ว่าจะหาการรวมตัวแบบนี้ยากมาก หรืออาจจะหาชมรถสไตล์เดียวกันนี้ มารวมตัวกันขนาดนี้ ที่ไหนไม่ได้อีกแล้วด้วยซ้ำ ไม่ว่าจะเป็น land cruiser, prado, Jimny ในสไตล์ที่แต่งกันมาแบบสุดมัน เห็นแล้วอยากจะมีเป็นของตัวเองสักคัน ซึ่งเชื่อว่าทุกคนรู้จัก Suzuki Jimny กันอยู่แล้ว แต่สำหรับคำว่า Flexdream Japan Style </div>
                
                
            </div>
            <div class="d-flex flex-column flex-md-row row gap-3">
                <div class="col-md">
                    <img  class="img-fluid" src="/cover/activity3.jpg" alt="">
                </div>
              
            </div>
        </div>
    </div>

</div>
<%- include('../partials/appfooter.ejs') %>
