<%- include('../partials/apphead.ejs') %>
<div class="bg-white w-100" style="min-height: calc(100vh - 70px);">

    <div class="d-flex flex-column">
        <div class="col-12 cover position-relative bg-dark">
            <div class="col-12 col-md-8 mx-auto position-relative">
                <div class="image bg-dark overflow-hidden  position-relative" style="padding-bottom: 50%; background-image: url(/cover/kiapromotion.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
            <div class="position-absolute d-flex align-items-end h-100 p-3 bottom-0 end-0 justify-content-end w-100 fs-h1 gap-2">
                <a class="text-decoration-none wh50 bg-white text-main3 d-flex justify-content-center align-items-center rounded-circle saved"><i class="fa-solid fa-heart"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 p-3">
            <div class="fs-normal">13 ธ.ค. 65</div>
            <div class="fs-h2">เกีย คาร์นิวัล ใหม่ พร้อมข้อเสนอพิเศษ* สำหรับลูกค้าที่จองภายในงาน</div>
            <div class="ps-3">
                <ul class="p-0 m-0">
                    <li class="fs-normal">อัตราดอกเบี้ยพิเศษ 1.99% สำหรับการจัดไฟแนนซ์ผ่านลีสซิ่งกสิกรไทย</li>
                    <li class="fs-normal">รับสิทธิ์ผ่อนชำระเงินดาวน์ 0% นานสูงสุด 6 เดือน ผ่านบัตรเครดิตกสิกรไทย</li>
                    <li class="fs-normal">การประกันคุณภาพนาน 5 ปี หรือ 150,000 กม.</li>
                    <li class="fs-normal">บริการช่วยเหลือฉุกเฉินบนท้องถนนตลอด 24 ชม. นาน 5 ปี</li>
                    <li class="fs-normal">ประกันภัยชั้น 1 นาน 1 ปี</li>
                </ul>
            </div>
            <div class="fs-normal lh-0">เงื่อนไขและรายละเอียดเพิ่มเติมสอบถามได้ที่บูธ KIA</div>
            <div class="col-12 d-flex flex-column gap-2">
                <div class="fs-h4">
                    Contact
                    <div class="fs-small fw-normal">ข้อมูลติดต่อ</div>
                </div>
                <a href="/app/booth/d/1" class="text-decoration-none d-flex gap-3 bg-main2 text-white p-3 rounded-3">
                    <div class="d-flex flex-column w-100 fs-normal">
                        <div class="text-truncate ">บริษัท ยนตรกิจ เกีย มอเตอร์ จำกัด</div>
                        <div class="text-truncate">หมายเลขบูธ : B1</div>
                        <!-- <div class=""> ข้อมูลผู้ติดต่อ</div> -->
                        <div class="">ชื่อผู้ติดต่อ : มงคล มั่งมี </div>
                        <div class="">เบอร์โทร : 0213123123</div>
                        <div class="">อีเมล : example@gmail.com</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/appfooter.ejs') %>
