<%- include('../partials/apphead.ejs') %>

<div class="bg-white w-100" style="min-height: calc(100vh - 70px);">
    <div class="d-flex flex-column gap-3 p-3">
        <div>
            <div class="fs-h4">MOTOR EXPO 2022 งานมหกรรมยานยนต์ครั้งที่ 38 (รอบสาธารณะชน)</div>
            <div class="fs-normal">#เนื่องจากปีนี้อยู่ในช่วงระบาดของโควิด-19 และต้องมีการจำกัดจำนวนคนเข้าชมจึงขอความกรุณาให้ทำการลงทะเบียนเข้าชมงานล่วงหน้าก่อนวันเข้าชมงาน</div>
        </div>
        <div>
            <div>
                <div class="fs-h4">Tickets</div>
                <hr class="m-0 p-0 mt-3">
            </div>
            <form action="/app/mytickets/buymore/process" method="post" id="form" class="d-flex flex-column  bg-white ">
                <%for(var i = 0; i < 4; i++){%>
                <div  class="ticket border-bottom px-1 py-3 rounded-3">
                    <div class="d-flex gap-3 align-items-center">
                        <div class="date text-center">
                            <div class="fs-h4"><%= 13+i %></div>
                            <div class="fs-h4 text-danger lh-1">DEC</div>
                        </div>
                        <div class="info d-flex flex-column">
                            <div class="fs-normal fw-md">
                                บัตรลงทะเบียนเข้าร่วมงาน #MOTOREXPO2021
                            </div>
                            <div class="fs-normal text-secondary">
                                : วันจันทร์ ที่ <%= 13+i %> ธ.ค. 2565
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3 justify-content-between align-items-center">
                        <div class="fs-h4 fw-normal">100.00 THB</div>
                        <select class="form-select w80 shadow-none" aria-label="Default select example">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                    </div>
                </div>
                <% } %>
                <div>
                   
                    <button href="/app/mytickets/buymore/selectticket" class="d-flex justify-content-start btn text-start col-12 bg-mainr text-white align-items-start text-decoration-none gap-2 px-3 px-md-3 py-2 rounded-3">
                        <div class="wh40 fill-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 23" fill="none"><path d="M5.11111 7.93514H17.8889V15.5251H5.11111V7.93514ZM21.0833 11.7301C21.0833 12.7781 21.9414 13.6276 23 13.6276V17.4226C23 18.4706 22.1419 19.3201 21.0833 19.3201H1.91667C0.858108 19.3201 0 18.4706 0 17.4226V13.6276C1.05856 13.6276 1.91667 12.7781 1.91667 11.7301C1.91667 10.6822 1.05856 9.83264 0 9.83264V6.03764C0 4.98966 0.858108 4.14014 1.91667 4.14014H21.0833C22.1419 4.14014 23 4.98966 23 6.03764V9.83264C21.9414 9.83264 21.0833 10.6822 21.0833 11.7301ZM19.1667 7.61889C19.1667 7.0949 18.7376 6.67014 18.2083 6.67014H4.79167C4.26239 6.67014 3.83333 7.0949 3.83333 7.61889V15.8414C3.83333 16.3654 4.26239 16.7901 4.79167 16.7901H18.2083C18.7376 16.7901 19.1667 16.3654 19.1667 15.8414V7.61889Z" /></svg>
                        </div>
                        <div class="fs-h4 pe-none d-flex flex-column">
                            Buy Tickets
                            <div class="fs-small fw-normal">ซื้อตั๋วลงทะเบียนร่วมงาน</div>
                        </div>
                    </button>
                </div>
            </form>
           
        </div>

     
    </div>
</div>


<script>
    $("select").each((index,ele)=>{
        $(ele).on("change",(evt)=>{

            if($(evt.target).val() != 0){
                $("#form").find("button").prop("disabled",false)
                $("#form").find("button").css("opacity","1")
            }else{
                var o = 0;
                console.log("val=>",$(evt.target).val())
                $("select").each((x,y)=>{
                    o+=$(y).val() ?? 0
                })
                if(o == 0){
                    $("#form").find("button").prop("disabled",true)
                    $("#form").find("button").css("opacity",".75")
                }
            }
        })
    })

    $("select").val(0)

</script>
<script src="/js/ticket.js"></script>
<%- include('../partials/appfooter.ejs') %>