<%- include('../partials/apphead.ejs') %>

<div class="bg-white w-100" style="min-height: calc(100vh - 70px);">
    <div class="d-flex flex-column gap-3 p-3" >
        <div class="timeline d-flex w-100 justify-content-between align-items-center gap-3">
            <div class="section active d-flex align-items-center gap-2"  id="section1">
                <div class="circle wh25 wh30-md">1</div>
                <div class="fs-normal fw-md">Checkout</div>
            </div>
            <div class="dotted w-100 px-2 overflow-hidden"></div>
            <div class="section d-flex align-items-center gap-2" id="section2">
                <div class="circle wh25 wh30-md">2</div>
                <div class="fs-normal fw-md">Pay</div>
            </div>
            <div class="dotted w-100 px-2"></div>
            <div class="section d-flex align-items-center gap-2"  id="section3">
                <div class="circle wh25 wh30-md">3</div>
                <div class="fs-normal fw-md">Complete</div>
            </div>
        </div>
        <div class="p-3 text-center text-secondary" style="background-color: #F3F3F3;" sectionbeforesuccess>
            <div class="fs-h2" timecount>15:00</div>
            <div>
                Please complete registration within 15 minutes.
                After 15 minutes, The reservation 
               we are holding will be released to others
            </div>
        </div>
        <div sectionbeforesuccess>
            <div class="fs-h4">MOTOR EXPO 2022 งานมหกรรมยานยนต์ครั้งที่ 38 (รอบสาธารณะชน)</div>
            <div class="fs-normal" section1>#เนื่องจากปีนี้อยู่ในช่วงระบาดของโควิด-19 และต้องมีการจำกัดจำนวนคนเข้าชมจึงขอความกรุณาให้ทำการลงทะเบียนเข้าชมงานล่วงหน้าก่อนวันเข้าชมงาน</div>
        </div>
        <div class="p-3 d-flex flex-column gap-3" style="background-color: #F3F3F3;" section1 sectionbeforesuccess>
            <div class="fs-h4">Total Registration(s)</div>
            <div class="fs-no <div  class="ticket border-bottom p-3 rounded-3">
                <div class="d-flex gap-3 align-items-center">
                    <div class="info d-flex flex-column">
                        <div class="fs-normal fw-md">
                            บัตรลงทะเบียนเข้าร่วมงาน #MOTOREXPO2021
                        </div>
                        <div class="fs-normal text-secondary">
                            : วันจันทร์ ที่ 15 ธ.ค. 2565
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-3 justify-content-between align-items-center">
                    <div class="fs-normal">100.00 THB</div>
                    <div class="fs-h2">x1</div>
                </div>
            </div>
        </div>
        <div section1 sectionbeforesuccess>
            <div class="fs-h4">Review Participant Information</div>
        </div>
        <div section1 sectionbeforesuccess>
            <div class="info d-flex flex-column gap-2">
                <div class="fs-normal fw-md">
                    Ticket 1 - บัตรลงทะเบียนเข้าร่วมงาน #MOTOREXPO2021
                    <div class="fs-normal text-secondary">
                        : วันจันทร์ ที่ 15 ธ.ค. 2565
                    </div>
                </div>
                <div class="p-3 border rounded-3">
                    <label for="basic-url" class="form-label">First name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="First name" vali>
                    </div>
                    <label for="basic-url" class="form-label">Last name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Last name" vali>
                    </div>
                    <label for="basic-url" class="form-label">Email</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Email" vali>
                    </div>
                    <label for="basic-url" class="form-label">Phone</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Phone" vali>
                    </div>
                    <div class=" d-flex align-items-center gap-2">
                        <input class="form-check-input m-0 p-0" type="checkbox" value="" aria-label="Checkbox for following text input" usemyinfomation>
                        <label for="basic-url" class="form-label m-0 lh-1">Use My Infomation</label>
                    </div>
                </div>

            </div>
        </div>
        <div sectionbeforesuccess>
            <div class="fs-h4" section1>Review Order Summary</div>
            <div class="fs-h4" section2>Order #11924-2101587</div>
        </div>
        <div sectionbeforesuccess>
            <div class="d-flex justify-content-between align-items-center border-top border-bottom py-2 border-dark">
                <div class="fs-normal fw-md">Item</div>
                <div class="fs-normal fw-md">Price</div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="info d-flex flex-column col-9 py-2 border-bottom">
                    <div class="fs-normal">
                        บัตรลงทะเบียนเข้าร่วมงาน #MOTOREXPO2021
                    </div>
                    <div class="fs-normal text-secondary">
                        : วันจันทร์ ที่ 15 ธ.ค. 2565
                    </div>
                </div>
                <div class="fs-normal">100.00 THB</div>
            </div>
            <div class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark">
                <div class="fs-normal fw-md">Grand Total</div>
                <div class="fs-normal">100.00 THB</div>
            </div>
            <div class="text-danger fw-md mt-3" section1>
                * if you have seat reserved after successfully paying for any tickets and/or services; in any case you do not pickup you ticket at the event on time and/or show up at the event, we reserve the right not to issue a refund
            </div>
            <div class=" d-flex align-items-center gap-2 mt-3" section1>
                <input class="form-check-input m-0 p-0" type="checkbox" value="confirm" aria-label="Checkbox for following text input" checksection1>
                <label for="basic-url" class="form-label m-0 lh-1">I agree to the Terms and Policies above.</label>
            </div>
            <div class="py-3 d-flex flex-column gap-3 d-none" section2>
                <a role="button" class="paymentmethode1 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3" >
                    <div class="wh30" onclick="$('.formpayment').toggleClass('d-none')">
                        <svg width="100%" height="100%" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8C0 7.00544 0.395088 6.05161 1.09835 5.34835C1.80161 4.64509 2.75544 4.25 3.75 4.25H26.25C27.2446 4.25 28.1984 4.64509 28.9016 5.34835C29.6049 6.05161 30 7.00544 30 8V23C30 23.9946 29.6049 24.9484 28.9016 25.6516C28.1984 26.3549 27.2446 26.75 26.25 26.75H3.75C2.75544 26.75 1.80161 26.3549 1.09835 25.6516C0.395088 24.9484 0 23.9946 0 23V8ZM3.75 6.125C3.25272 6.125 2.77581 6.32254 2.42417 6.67417C2.07254 7.02581 1.875 7.50272 1.875 8V9.875H28.125V8C28.125 7.50272 27.9275 7.02581 27.5758 6.67417C27.2242 6.32254 26.7473 6.125 26.25 6.125H3.75ZM28.125 13.625H1.875V23C1.875 23.4973 2.07254 23.9742 2.42417 24.3258C2.77581 24.6775 3.25272 24.875 3.75 24.875H26.25C26.7473 24.875 27.2242 24.6775 27.5758 24.3258C27.9275 23.9742 28.125 23.4973 28.125 23V13.625Z" fill="#383838"/>
                            <path d="M3.75 19.25C3.75 18.7527 3.94754 18.2758 4.29917 17.9242C4.65081 17.5725 5.12772 17.375 5.625 17.375H7.5C7.99728 17.375 8.47419 17.5725 8.82582 17.9242C9.17746 18.2758 9.375 18.7527 9.375 19.25V21.125C9.375 21.6223 9.17746 22.0992 8.82582 22.4508C8.47419 22.8025 7.99728 23 7.5 23H5.625C5.12772 23 4.65081 22.8025 4.29917 22.4508C3.94754 22.0992 3.75 21.6223 3.75 21.125V19.25Z" fill="#383838"/>
                        </svg>
                    </div>
                    <div class="fs-h4 col fw-normal" onclick="$('.formpayment').toggleClass('d-none')">
                        Select Payment Method
                    </div>
                    <div class="col-12 formpayment d-flex flex-column gap-2 d-none user-select-none">
                        <div class="d-flex gap-2">
                            <img src="/payment/logos_jcb.svg" class="wh30" alt="">
                            <img src="/payment/logos_mastercard.svg" class="wh30" alt="">
                            <img src="/payment/logos_visa.svg" class="wh30" alt="">
                        </div>
                        <div>
                            <label for="basic-url" class="form-label">Card Number</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Card Number" name="dd">
                            </div>
                        </div>
                        <div>
                            <label for="basic-url" class="form-label">Card Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Card Name" name="dd">
                            </div>
                        </div>
                        <div>
                            <label for="basic-url" class="form-label">Expiry Date</label>
                            <div class="input-group">
                                <input type="text" name="dd" class="form-control" placeholder="xx/xx">
                            </div>
                        </div>
                        <div>
                            <label for="basic-url" class="form-label">CVV</label>
                            <div class="input-group">
                                <input type="password" name="dd" class="form-control" placeholder="CVV">
                            </div>
                        </div>
                        <div class=" d-flex align-items-center gap-2 mt-3">
                            <input class="form-check-input m-0 p-0" type="checkbox" value="confirm" aria-label="Checkbox for following text input" >
                            <label for="basic-url" class="form-label m-0 lh-1">Save this card for later use.</label>
                        </div>
                    </div>
                </a>
                
                <a role="button" class="paymentmethode2 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3">
                    <img class="wh30" src="/payment/uil_qrcode-scan.svg">
                    <div class="fs-h4 fw-normal">QR Payment</div>
                </a>
                <a role="button" class="paymentmethode2 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3">
                    <img class="wh30" src="/payment/ps_bar-code.svg">
                    <div class="fs-h4 fw-normal">Bill Payment</div>
                </a>
                <a role="button" class="paymentmethode2 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3">
                    <img class="wh30" src="https://cutewallpaper.org/21/paypal-logo-transparent-background/Download-Free-png-PayPal-Donate-Button-Free-PNG-Image-.png">
                    <div class="fs-h4 fw-normal">PAYPAL</div>
                </a>
                
                <a role="button" class="paymentmethode2 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3">
                    <img class="wh30" src="/payment/Rectangle 143.svg">
                    <div class="fs-h4 fw-normal">SCB EASY APP</div>
                </a>
                <a role="button" class="paymentmethode2 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3">
                    <img class="wh30" src="https://play-lh.googleusercontent.com/5cnnA8lEdsdpLLT1hxUVFkDE6JX-JOW7SQWL-mmvSlH1eYjG-SNYgSrZzrMpYC3mQCM">
                    <div class="fs-h4 fw-normal">TTB TOUCH</div>
                </a>
                <a role="button" class="paymentmethode2 d-flex flex-wrap gap-3 align-items-center text-decoration-none text-dark border p-3 rounded-3">
                    <img class="wh30" src="https://play-lh.googleusercontent.com/AyX675vwNz8X2sYUTSrjUTRVzzXMZUW_nMQ8Vk__Nabj6zQ7s7We-bpZbFmoYf7e2YM">
                    <div class="fs-h4 fw-normal">K PLUS</div>
                </a>
            </div>
            <div>
                <button class="mt-3 border-0 w-100 justify-content-center col bg-green text-white text-center align-items-center text-decoration-none gap-3 px-2 px-md-3 py-2 rounded-3 " style="opacity: 0.7;"  disabled submitstage1>
                    <div class="fs-h4 pe-none">Confirm
                        <div class="fs-small fw-normal">ยืนยันออเดอร์</div>
                    </div>
                </button>
                <a href="/app/mytickets/buymore/selectticket" type="button" class="mt-2 border-0 w-100 justify-content-center col bg-secondary text-white text-center align-items-center text-decoration-none gap-3 px-2 px-md-3 py-2 rounded-3 " >
                    <div class="fs-h4 pe-none">Cancel Order                        
                        <div class="fs-small fw-normal">ยกเลิกออเดอร์</div>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex d-none align-items-center justify-content-center flex-column gap-3 p-3 mx-auto col-12 col-lg-7" section3>
        <div class="fs-h3">
            Thank You
        </div>
        <div class="fs-normal">
            Your order is complete (order number #11924-2101587)
        </div>
        <div class="fs-h4">MOTOR EXPO 2022 งานมหกรรมยานยนต์ครั้งที่ 38 (รอบสาธารณะชน)</div>
        <div class="fs-h4">Message from Organizer</div>
        <div class="p3 border w-100 rounded-3 d-flex flex-column gap-2 p-3 align-items-center justify-content-center">
            <div class="fs-normal">ท่านได้ลงทะเบียนเสร็จสิ้น</div>
            <div class="fs-normal">ทางผู้จัดงานจะส่งรายละเอียดกิจกรรมและช่องทางการเข้าร่วมผ่าน Email ที่ท่านลงทะเบียนเข้ามา</div>
            <div class="fs-normal">You have completed registration.</div>
            <div class="fs-normal">The organizer will send detail of the event and the way to participate via the email you registered</div>
        </div>
        <a href="/app/mytickets" type="button" class="mt-2 border-0 w-100 justify-content-center col bg-mainr text-white text-center align-items-center text-decoration-none gap-3 px-2 px-md-3 py-2 rounded-3 " >
            <div class="fs-h4 pe-none">View My Tickets                      
                <div class="fs-small fw-normal">กลับไปหน้ารายการตั๋วของคุณ</div>
        </div>
        </a>
    </div>
</div>

<script>


    Number.prototype.pad = function(size) {
    var s = String(this);
    while (s.length < (size || 2)) {s = "0" + s;}
    return s;
    }

    var timemax = 900;
    var counter = setInterval(timer, 1000); //1000 will  run it every 1 second
  
    function timer(){
        timemax -= 1;
        var second = timemax%60
        var minute = parseInt(timemax/60)
        $("[timecount]").html(`${(minute).pad()}:${(second).pad()}`)
        if(timemax < 0){
            window.location.href = "/app/mytickets/buymore/selectticket"
        }
    }



$("[vali]").each((index,ele)=>{
    $(ele).on("change",(evt)=>{
        var empty = 0;
        $("[vali]").each((x,y)=>{
            if($(y).val() == '' || $(y).val() == 0){
            empty += 1
            }
        })
        var confirm = $("[checksection1]").is(":checked")
        if(!confirm){
        empty += 1
        }

        if(empty == 0){
            $("[submitstage1]").prop("disabled",false)
            $("[submitstage1]").css("opacity","1")
        }else{
            $("[submitstage1]").prop("disabled",true)
        $("[submitstage1]").css("opacity",".75")
        }
        
        
    })
})

$("[checksection1]").on("change",(evt)=>{
    var confirm = $(evt.target).is(":checked")
    var empty = 0;
    $("[vali]").each((x,y)=>{
        if($(y).val() == '' || $(y).val() == 0){
        empty += 1
        }
    })
    if(!confirm){
        empty += 1
    }

    if(empty == 0){
        $("[submitstage1]").prop("disabled",false)
        $("[submitstage1]").css("opacity","1")
    }else{
        $("[submitstage1]").prop("disabled",true)
        $("[submitstage1]").css("opacity",".75")
    }
    
})
$("[usemyinfomation]").on("change",()=>{
    var data = ["พงษ์สันติ","วัฒนะวิชัยพัฒน์","example@gmail.com","06665462243"]
    $("[vali]").each((index,ele)=>{
        $(ele).val(data[index])
        $(ele).trigger("change")
    })
})
var stage = 0
$("[submitstage1]").on("click",()=>{
    stage += 1;
        $("[section1]").addClass("d-none")
        tosection("#section2")
        $("[submitstage1]").html("Confirm")
        $("[section2]").removeClass("d-none")
        $("[submitstage1]").html(`Place Order<div class="fs-small fw-normal">ยืนยันออเดอร์</div>`)
        $("[submitstage1]").off()
        $("[submitstage1]").on("click",()=>{
            tosection("#section3")
            $("[sectionbeforesuccess]").addClass("d-none")
            $("[section3]").removeClass("d-none")

        })
   

})



window.tosection = (section) => {
    $(section).addClass("active")
}

</script>
<script src="/js/ticket.js"></script>

<%- include('../partials/appfooter.ejs') %>