<%- include('../partials/apphead.ejs') %>
<div class="bg-white w-100" style="min-height: calc(100vh - 70px);">

    <div class="d-flex flex-column">
        <div class="col-12 cover position-relative bg-dark">
            <div class="col-12 col-md-8 mx-auto position-relative">
                <div class="image bg-dark overflow-hidden  position-relative" style="padding-bottom: 50%; background-image: url(/cover/video1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            </div>
            <div class="position-absolute d-flex align-items-end h-100 p-3 bottom-0 end-0 justify-content-end w-100 fs-h1 gap-2">
                <a class="text-decoration-none wh50 bg-white text-main3 d-flex justify-content-center align-items-center rounded-circle saved"><i class="fa-solid fa-heart"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column gap-3 p-3">
            <div>
                <div class="fs-normal">13 ธ.ค. 64</div>
            </div>
           
            <div class="fs-h2">ขอมอบบรรยากาศสุขสันต์ จากงาน MOTOR EXPO 2021 แทนคำอวยพรให้ท่านมีความสุข ประสบความสำเร็จ ตลอดปี 2565</div>
            <div>
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/4u0BnwWbdh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/appfooter.ejs') %>
