<%- include('../partials/apphead.ejs') %>

<div class="bg-main w-100 overflow-auto" style="min-height: calc(100vh - 70px);">
    <div class="d-flex col-lg-7 col-xl-6 mx-auto justify-content-center flex-column align-items-center bg-main text-white gap-3">
        <div class="ticket w-100 p-3 d-flex flex-column gap-3 rounded-3">
            <div class="d-flex gap-3 align-items-center">
                <div class="date text-center">
                    <div class="fs-h4">12</div>
                    <div class="fs-h4 text-mainr lh-1">DEC</div>
                </div>
                <div class="info d-flex flex-column">
                    <div class="fs-normal fw-md">
                        MOTOR EXPO 2022 - งานมหกรรมยานยนต์ (รอบสาธารณะชน)
                    </div>
                    <div class="fs-normal text-white">
                        สำหรับคุณ พงษ์สันติ วัฒนะวิชัยพัฒน์
                    </div>
                </div>

            </div>
            <div class="border p-3 d-flex flex-column gap-3 rounded-3">
                <div class="col-7 col-md-5 mx-auto">
                    <div class="qrcode"></div>
                </div>
                <hr class="p-0 m-0">
                <div>
                    <div class="fs-h4">Reference Code</div>
                    <div class="fs-normal text-hili">5 6 5 S 9 7</div>
                </div>
                <div>
                    <div class="fs-h4">Ticket</div>
                    <div class="fs-normal">MOTOR EXPO 2022 : 12 Dec 2022</div>
                </div>
                <div>
                    <div class="fs-h4">Price</div>
                    <div class="fs-normal">100 THB</div>
                </div>
                <div>
                    <div class="fs-h4">Owner Info</div>
                    <div class="fs-normal">
                        <div>พงษ์สันติ วัฒนะวิชัยพัฒน์</div>
                        <div>example@gmail.com</div>
                        <div>+66 654 6584</div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2">
                    <a role="button" class="col fs-h4 text-white text-decoration-none bg-mainr rounded-3 d-block p-1 text-center" setqrcode>Setting QRCode<div class="fs-small fw-normal">ตั้งเป็น QRCODE หน้าแรก</div></a>
                    <a role="button" class="col fs-h4 text-white text-decoration-none bg-mainr rounded-3 d-block p-1 text-center">Download QRCode<div class="fs-small fw-normal">ดาวน์โหลดตั๋วของคุณ</div></a>
                </div>
            </div>
        </div>

        
    </div>
</div>

<!-- <div class="position-absolute p-3 d-flex align-items-center bg-success w-100 text-white h60" style="bottom: -60px;">
    Ticket has been set as front QRCode
</div> -->
<script src="/js/ticket.js"></script>
<%- include('../partials/appfooter.ejs') %>